body {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: clamp(400px, 80vw, 1200px);
  margin: auto;
  justify-content: flex-start;
}

.class-div {
  border-radius: 4px;
  background-color: rgb(37, 81,80);
  color: white;
  width: 125px;
  height: 70px;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 15px;
  margin: 1rem;
  text-align: center;
}

.App-header {
  background-color: #b3ccff;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.indiv-starship {
  border-radius: 4px;
  background-color: rgb(37, 81,80);
  color: white;
  width: 300px;
  height: 200px;
  display: grid;
  justify-items: left;
  align-items: center;
  padding: 5px;
  text-align: center;
  font-size: 16px;;
}

h1 {
  background-color: black;
  color: white;
  text-align: center;
  margin: 10px;

}

h2 {
  margin: 10px;
  text-align: left;
}
