body {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 800px;
  margin: auto;
  justify-content: flex-start;
}

.class-div {
  border-radius: 4px;
  background-color: rgb(37, 81,80);
  color: white;
  width: 125px;
  height: 70px;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 15px;
  margin: 1rem;
  text-align: center;
}

.App-header {
  background-color:black;
  color: white;
  max-height: 2vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: white;
  margin: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.indiv-starship {
  border-radius: 4px;
  background-color: rgb(37, 81,80);
  color: white;
  width: 300px;
  height: 200px;
  display: grid;
  justify-items: left;
  align-items: center;
  padding: 10px 0 0 0;
  text-align: center;
  font-size: 16px;
}

h1 {
  background-color: black;
  color: white;
  text-align: center;
  margin: 10px;
}

h2 {
  margin: 10px;
  text-align: left;
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.outside-indiv {
  padding: 30px 0 0 0;
  display: flex;
  justify-content: center;
}
